*~
data
cms_docs
.env
environment.yml
logfile
python/.ipynb_checkpoints/*
*.csv
tmp
webapp/debugging_flask.ipynb
webapp/tmp
webapp/flask_dev_setup.ipynb
webapp/flaskexample/__pycache__
webapp/.ipynb_checkpoints